[Unit]
Description="Kegbot Server"

[Service]
Type=simple
User=kegbot
Group=kegbot
ExecStart=/usr/bin/kegbot runserver 0.0.0.0:8000
Restart=on-failure

[Install]
WantedBy=multi-user.target
